<!doctype html>

<html>

<head>
    <title>文字分析助手</title>

    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/baby-blue.css">
    <link rel="stylesheet" href="/static/css/tablesorter/blue/style.css" type="text/css" media="print, projection, screen" />
    <script type="text/javascript" src="/static/js/jquery-1.4.3.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
    <script type="text/javascript">
        $(function(){
            //表格显示
            $("#myTable").tablesorter({
                widgets: ['zebra']
            })

            $("#index").addClass("pure-menu-selected")

        })
    </script>



</head>

<body>

<div class="pure-g-r" id="layout" style="letter-spacing:0">

    {% include "menu.html" %}

    <div  id="right">

        <div class="header">
            <h1>文字分析助手</h1>
        </div>

        <div id="content" style="text-align: center;margin-top: 30px" >

            <form action="/view/" method="post" class="pure-form" target="_blank">
                导入文章
                <br/><br/>
                <textarea name="article" style="width: 660px; height: 200px"></textarea>
                <br/>
                <input type="submit"  class="pure-button pure-button-primary" value="分析" />
            </form>


            <form action="/save/" method="post" class="pure-form">
                <br/><br/><br/>
                参数设定
                <br/><br/>
                一级：
                <textarea name="one_chars" style="width: 600px; height: 320px">{{ one.chars }}</textarea>
                <br/>
                二级：
                <textarea name="two_chars" style="width: 600px; height: 320px">{{ two.chars }}</textarea>
                <br/>
                三级：
                <textarea name="three_chars" style="width: 600px; height: 320px">{{ three.chars }}</textarea>
                <br/>
                四级：
                <textarea name="four_chars" style="width: 600px; height: 320px">{{ four.chars }}</textarea>
                <br/>
                五级：
                <textarea name="five_chars" style="width: 600px; height: 320px">{{ five.chars }}</textarea>
                <br/>
                <input type="submit"  class="pure-button pure-button-primary" value="保存"/>
                <br/>
                <br/>
            </form>



        </div>
    </div>


</div>



</body>

</html>
