<!doctype html>

<html>

<head>
    <title>文字分析助手</title>

    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/baby-blue.css">
    <link rel="stylesheet" href="/static/css/tablesorter/blue/style.css" type="text/css" media="print, projection, screen" />
    <script type="text/javascript" src="/static/js/jquery-1.4.3.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
    <script type="text/javascript">

        $(function(){

            //表格显示
            $("#myTable").tablesorter({
                widgets: ['zebra']
            })

            $("#view").addClass("pure-menu-selected")


            $(".remove_char").click(function(){

                if(!confirm("确定从字库删除？")){
                    return
                }
                var level = $(this).attr("data-level")
                var char = $(this).attr("data-char")
                var perent = $(this).parent()

                $.ajax({
                    url:"/remove/",
                    data:{
                        level:level,
                        char:char
                    },
                    success:function(){
                        perent.fadeOut()
                    }
                })
            })

        })
    </script>



</head>

<body>

<div class="pure-g-r" id="layout" style="letter-spacing:0">

    {% include "menu.html" %}

    <div  id="right">

        <div class="header">
            <h1>文字分析助手</h1>
        </div>

        <div id="content" style="text-align: center;margin-top: 30px;font-weight: bold;color: black" >

            {% for r in rs %}
                {% if r %}
                    <div style="border: 1px solid gray">
                        <p style="color: red">{{ forloop.counter }}级({{ r|length }})</p>
                        {% for c in r %}
                            <span style="float: left; margin-left: 50px; margin-top: 20px;border: 1px solid gray">
                                {{ c.0 }}
                                <a title="从字库中移除此字" data-char="{{ c.0 }}" data-level="{{ forloop.parentloop.counter }}" class="remove_char" style="cursor: pointer">
                                    -
                                </a>
                                {{ c.1 }}
                            </span>
                        {% endfor %}
                        <div style="clear: both; height: 50px "></div>
                    </div>
                {% endif %}
            {% endfor %}

            <div style="border: 1px solid gray">
                <p style="color: red">重复计数</p>
                {% for r in repeat %}
                    <span style="float: left; margin-left: 50px; margin-top: 20px;border: 1px solid gray">
                        {{ r.1 }} ( {{ r.0 }} )
                    </span>
                {% endfor %}

                <div style="clear: both; height: 50px "></div>
            </div>

        </div>
    </div>


</div>



</body>

</html>
